@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";


body {
  font-family: "Inter", sans-serif;
}

.calendar-wrapper {
  max-width: 400px;
  font-size: 12px;
  max-height: 375px;
}

.calendar-wrapper .fc-theme-standard td,
.calendar-wrapper .fc-theme-standard th {
  border: none;
}

.calendar-wrapper .fc-scrollgrid {
  border: none;
}

.calendar-wrapper .fc-daygrid-day-frame {
  padding: 5px;
  max-height: 40px !important; 
}

.calendar-wrapper .fc-daygrid-day-number {
  font-size: 12px;
  font-weight: 500;
  color: var(--text-color);
}

.calendar-wrapper .fc-toolbar-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
}

.calendar-wrapper .fc-toolbar {
  margin-bottom: 16px;
}

.calendar-wrapper .fc-today-button {
  display: none;
}
.calendar-wrapper .fc-button {
  background: var(--secondary-bg);
  border: none;
  color: var(--text-color);
  border-radius: 6px;
  padding: 4px 8px;
}

.calendar-wrapper .fc-button:focus {
  outline: none;
  box-shadow: none;
  
}

.calendar-wrapper .fc-bg-event {
  background-color: rgb(252, 2, 2) !important;
  border-radius: 17px;
  height: 90% !important;
  opacity: 0.5;
}

.calendar-wrapper .fc-daygrid-day {
  border-radius: 15px;
}

.calendar-wrapper .fc-daygrid-day-top {
  justify-content: flex-end;
}
.calendar-wrapper .fc-day-today {
  background: transparent !important;
  box-shadow: none !important;
}

.fc-col-header{
  color: var(--text-color);
}
